* {
  font-size: 16px;
}
/* /////////////////////////////____TAGS____///////////////////////// */
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
h1 {
  font-size: 2rem;
  text-align: center;
}
legend {
  font-size: 1.25rem;
}
button {
  font-size: 1.5rem;
  margin: 2px;
  width: 100px;
}
header {
  height: 10vh;
  width: 96vw;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
}
img {
  position: relative;
  max-width: 220px;
}
.game-board {
  display: flex;
  justify-content: space-between;
}

/* ////////////////////////_____CONTROL_PANEL____/////////////////////// */

.controls {
  width: 28vw;
  height: 88vh;
  min-width: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: solid 2px black;
  contain: content;
}
.buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* ////////////////////////________GAME_________/////////////////////// */

.game {
  width: 68vw;
  height: 88vh;
  min-width: 400px;
  border: solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* /////////////////////////////////______GRIDS_______///////////////////////////// */
.grids {
  width: 80%;
  min-width: 400px;
  max-width: 750px;
  aspect-ratio: 1/1;
  margin: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  /* justify-content: center;
  align-items: center; */
}
/* ////////////////////////////////_____EASY_____/////////////////////////// */

#easy-grid {
  background-color: rgb(0, 255, 85);
  border: solid 2px black;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
/* ////////////////////////_____MSGs______//////////////////////// */
.state-block {
  width: 60%;
  min-width: 400px;
  max-width: 750px;
  aspect-ratio: 1/1;
  background-color: rgba(100, 100, 100, 0.8);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 4rem;
}
#restart {
  width: 200px;
  height: 50px;
}
.lose {
  display: none;
}
.pause-block {
  display: none;
}
